* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background-color: rgb(154, 198, 245);
    /* background-image: url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.toggle_chatbot {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    top: 1%;
    left: 47.5%;
    height: 70px;
    width: 70px;
    background-color: rgb(47, 78, 230);
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 5px black;

}

.show_chatbot .toggle_chatbot span {

    transform: rotate(90deg);
}

.toggle_chatbot span {
    position: absolute;
    transition: all ease-in 0.2s;

}

.toggle_chatbot span:last-child {
    opacity: 0;
}

.show_chatbot .toggle_chatbot span:first-child {
    /* position: absolute; */
    opacity: 0;
}

.show_chatbot .toggle_chatbot span:last-child {
    opacity: 1;
}

.main {
    border-radius: 15px;
    background: white;
    width: 450px;
    height: 550px;
    margin: 90px auto;
    box-shadow: 1px 1px 10px black;
    overflow: hidden;
    transform: scale(0.0);
    pointer-events: none;
    transition: all ease .1s;
    transform-origin: top;
}

.show_chatbot .main {
    transform: scale(1);
    pointer-events: auto;
    opacity: 1;
}

.title header {
    background-color: rgb(47, 78, 230);
    color: white;
    text-align: center;
    padding: 10px 0px;
    position: relative;
}

.title header span {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
    display: none;
    font-weight: 600;
    transform: translateY(-50%);
}

.chatarea .chatbox {
    /* border: 2px solid red; */
    /* height: 100%; */
    height: 442px;
    overflow-y: auto;
    padding: 20px 15px;
}

.chatarea .chatbox .chat {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0px;
}


.chatarea .chatbox .chat p {
    background-color: rgb(47, 78, 230);
    padding: 12px;
    max-width: 75%;
    white-space: pre-wrap;
    border-radius: 10px 10px 0px 10px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.chatarea .chatbox .chat p.error {
    background-color: rgb(245, 210, 210);
    color: red;
}

.chatarea .chatbox .incoming p {
    background-color: rgb(193, 220, 245);
    padding: 12px;
    border-radius: 10px 10px 10px 0px;
    /* font-size: 15px; */
    color: black;
}

.chatarea .chatbox .incoming span {
    background-color: rgb(47, 78, 230);
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

.chatarea .chatbox .outgoing {
    justify-content: flex-end;

}

.main .chat_input {
    /* border: 2px solid red;  */
    background-color: white;
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px 15px;
    border-top: 1px solid black;
}

.chat_input textarea {
    max-height: 130px;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
    padding: 10px 10px;
    width: 100%;
    height: 45px;
}

.chat_input span {
    background-color: rgb(47, 78, 230);
    color: white;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
}

.chat_input textarea:valid~span {
    visibility: visible;
}

@media(max-width:450px) {
    .main {
        height: 100%;
        width: 100%;
        border-radius: 0px;
        position: fixed;
        margin: 0px;
    }

    .chatarea .chatbox {
        height: 705px;
    }

    .title header span {
        display: block;
    }
}